@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

body {

  font:16px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
  width: 100%;
}

h1 {
  color:#222;
  margin:0 0 10px;
}

p, ul, ol {
  margin:0 0 10px;
}

h1 {
  line-height:1.1;
  font-size:22px;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}

a:hover {
  color:#CCC;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

.wrapper {
  width: 100%;
  height: 100%;
  line-height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  max-width:100%;
}

strong {
  color:#222;
  font-weight:700;
}

section {
}

small {
  font-size:11px;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header {
    padding-right:320px;
  }

  section {

    padding:20px 0;
    margin:0 0 20px;
  }

  header a small {
    display:inline;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap:break-word;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

.list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-bare {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    margin-right: 6px;
}
